*.suo
*.csproj.user


# RPGGame
RPGGame/Server/Common/bin
RPGGame/Server/Common/obj

RPGGame/Server/AuthServer/bin
RPGGame/Server/AuthServer/obj

RPGGame/Server/GameServer/bin
RPGGame/Server/GameServer/obj

RPGGame/Client/GameClient/bin
RPGGame/Client/GameClient/obj

RPGGame/Client/NetworkAPI/bin
RPGGame/Client/NetworkAPI/obj

RPGGame/bin/MySql