*.suo
*.csproj.user


# RPGGame
RPGGame/Common/bin
RPGGame/Common/obj

RPGGame/AuthServer/bin
RPGGame/AuthServer/obj

RPGGame/GameServer/bin
RPGGame/GameServer/obj

RPGGame/GameClient/bin
RPGGame/GameClient/obj

RPGGame/bin/MySql