<?xml version="1.0" encoding="utf-8" ?>
<Aegis id="10301" logLevel="2">
  <CustomData>
    <SystemDB dbname="rpggame_systemdb"
              ipaddress="127.0.0.1"
              portno="3306"
              userid="root"
              userpwd="1111" />

    <AES IV="NP_Contents_001 "
         Key="#@a73S  ls$#che_" />

    <UserManager maxAliveSecond="600" />

    <DataFile Codes="D:\Project\SyncZone\Examples\RPGGame\bin\GameData\Codes.xlsx"
              Player="D:\Project\SyncZone\Examples\RPGGame\bin\GameData\Player.xlsx"
              Character="D:\Project\SyncZone\Examples\RPGGame\bin\GameData\Character.xlsx"
              Item="D:\Project\SyncZone\Examples\RPGGame\bin\GameData\Item.xlsx"
              MapPvE="D:\Project\SyncZone\Examples\RPGGame\bin\GameData\MapPvE.xlsx"
              />
  </CustomData>
</Aegis>
